	<table class="table table-hover">
		<tr>
			<td width="70px">
				{% if (not user and current_user.username != post.author.username) 
				   or (user and user.username != post.author.username)
				%}
				<a href="{{ url_for('user', username=post.author.username) }}">
				{% endif %}
					<img src="{{ post.author.avatar(70) }}">
				</a>
			</td>
			<td>
				{% set user_link %}
				{% if (not user and current_user.username != post.author.username) 
				   or (user and user.username != post.author.username)
				%}
				<a href="{{ url_for('user', username=post.author.username) }}"> 
				{% endif %}
					{{ post.author.username }} 
				</a>
				{% endset %}
				{{ _('%(username)s said %(when)s',
					username=user_link, when=moment(post.timestamp).fromNow()) }}
				<br>
				{{ post.body }}
			</td>
		</tr>
	</table>