	<table class="table table-hover">
		<tr>
			<td width="70px">
				{% if (not user and current_user.username != post.author.username) 
				   or (user and user.username != post.author.username)
				%}
				<a href="{{ url_for('user', username=post.author.username) }}">
				{% endif %}
					<img src="{{ post.author.avatar(70) }}">
				</a>
			</td>
			<td>
				{% set user_link %}
				{% if (not user and current_user.username != post.author.username) 
				   or (user and user.username != post.author.username)
				%}
				<a href="{{ url_for('user', username=post.author.username) }}"> 
				{% endif %}
					{{ post.author.username }} 
				</a>
				{% endset %}
				{{ _('%(username)s said %(when)s',
					username=user_link, when=moment(post.timestamp).fromNow()) }}
				<br>
				<span id="post{{ post.id }}">{{ post.body }}</span>
				{% if post.language and post.language != g.locale %}
				<br><br>
				<span id="translation{{ post.id }}">
					<a href="javascript:translate(
					'#post{{ post.id }}',
					'#translation{{ post.id }}',
					'{{ post.language }}',
					'{{ g.locale }}');">{{ _('Translate') }}</a>
				</span>
				{% endif %}
			</td>
		</tr>
	</table>